<Form::Panel {{action "submit" on="submit"}} as |form panel|>

  <panel.header as |header|>
    <form.cancel {{action "cancel"}} />
    <header.title>{{@model.displayName}}</header.title>
    <form.save
      @loading={{@model.isSaving}}
      disabled={{@model.isClean}} />
  </panel.header>

  <panel.body>
    <Container>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="name">{{t 'fields.default.name'}}</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <Input
                class="input"
                id="name"
                name="name"
                type="text"
                @value={{@model.name}} />
            </div>
          </div>
        </div>
      </div>

      <ListSet as |listSet|>
        {{#if this.categories}}
          <fieldset>
            <listSet.heading>
              <legend>{{t "resources.item-category"}}</legend>
            </listSet.heading>
            <listSet.list as |list|>
              {{#each this.categories as |category| }}
                <list.item>
                  <label class="label">
                    <Input
                      name="category"
                      type="radio"
                      value={{category}}
                      checked={{eq @model.category.id category.id}}
                      {{on "change" (fn this.categoryChange category)}} />
                      {{category.name}}
                  </label>
                </list.item>
              {{/each}}
            </listSet.list>
          </fieldset>
        {{else}}
          <listSet.emptyListMessage>
            {{t 'list.no-item-categories'}}
          </listSet.emptyListMessage>
        {{/if}}
      </ListSet>


      <Link::Add @route="items">{{t "actions.item-category.add"}}</Link::Add>

    </Container>
  </panel.body>

</Form::Panel>
