<Section::Panel as |panel|>
  <form class="form-panel" ...attributes>

    <panel.header as |header|>
      <Button::Cancel {{on "click" @cancel}} @disabled={{@saving}} />
      <header.title>{{@title}}</header.title>
      <Button::Save @loading={{@saving}} @disabled={{not @dirty}} />
    </panel.header>

    <panel.body>
      <Container>

        {{yield (hash
          delete=(component "button/delete" loading=@saving disabled=@dirty)
          text=(component "form/field/text")
        )}}

      </Container>
    </panel.body>

  </form>
</Section::Panel>
