<button
  type="button"
  class="button-cancel{{if @loading " is-loading"}}"
  disabled={{if @disabled "disabled"}}
  ...attributes>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{t "actions.default.cancel"}}
  {{/if}}
</button>
