<Button
  @submit={{true}}
  @loading={{@loading}}
  @disabled={{@disabled}}
  class="button-done"
  ...attributes>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{t "actions.default.done"}}
  {{/if}}
</Button>
