<button
  type="submit"
  class="button-save{{if @loading " is-loading"}}"
  disabled={{if @disabled "disabled"}}
  ...attributes>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{t "actions.default.save"}}
  {{/if}}
</button>
