<Store::Form
  @model={{@model}}
  @title={{t "titles.store.edit"}}
  @submit={{route-action "submit" @model}}
  @cancel={{route-action "cancel" @model}}
  @delete={{route-action "delete" @model}}>

  <hr>
  <strong>Store categories</strong>

  <ul>
    {{#each @model.categories as |storeCategory|}}
      <li>{{storeCategory.storeItemCategory.name}} / {{storeCategory.order}}</li>
    {{/each}}
  </ul>

  <hr>
  <strong>Item categories</strong>
  <ul>
    {{#each this.itemCategories as |itemCategory|}}
      <li>{{itemCategory.name}}</li>
    {{/each}}
  </ul>

</Store::Form>
