<Store::Form
  @model={{@model}}
  @title={{t "titles.store.edit"}}
  @submit={{route-action "submit" @model}}
  @cancel={{route-action "cancel" @model}}
  @delete={{route-action "delete" @model}}>

  <hr>
  
  <ul>
    {{#each @model.categories as |storeCategory|}}
      <li>
        {{storeCategory.itemCategory.name}} /
        {{storeCategory.itemCategory.id}} /
        {{storeCategory.order}}
      </li>
    {{/each}}
  </ul>

</Store::Form>
