<Form::Panel
  @title={{@title}}
  @saving={{@model.isSaving}}
  @dirty={{@model.isDirty}}
  @cancel={{action @cancel}}
  {{action @submit on="submit"}}
  as |form|>

  <form.text
    @label={{t 'fields.labels.default.name'}}
    @id="name"
    @name="name"
    @value={{@model.name}}
    @autofocus={{true}}
    @hasError={{@model.errors.name}}
    as |field|>
    {{#each @model.errors.name as |error|}}
      <field.error>
        {{#each error.message as |message|}}
          {{t (concat 'fields.errors.default.' (slugify message))}}
        {{/each}}
      </field.error>
    {{/each}}
  </form.text>

  <ListSet as |listSet|>
    {{#if @model.categories}}
      <form.fieldsetList @legend={{t "resources.store-item-category"}}>
        {{#each @model.categories as |category| }}
          <li>{{category.name}}</li>
        {{/each}}
      </form.fieldsetList>
    {{else}}
      <listSet.emptyListMessage>
        {{t 'list.no-item-categories'}}
      </listSet.emptyListMessage>
    {{/if}}
  </ListSet>

  <ListSet as |listSet|>
    {{#if @categories}}
      <form.fieldsetList @legend={{t "resources.item-category"}}>
        {{#each @categories as |category| }}
            <li>{{category.name}}</li>
        {{/each}}
      </form.fieldsetList>
    {{else}}
      <listSet.emptyListMessage>
        {{t 'list.no-item-categories'}}
      </listSet.emptyListMessage>
    {{/if}}
  </ListSet>

  {{#unless @model.isNew}}
    <form.delete {{action @delete}} />
  {{/unless}}

</Form::Panel>
